:root{
  /* --primary: rgb(200, 209, 21); */
  --primary: #bf8a21;
  --secondary: black;
}

*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'Melanic Black';
  font-style: normal;
  font-weight: normal;
  src: local('Melanic Black'), url('fonts/MelanicBlack.ttf') format('ttf');
}

html{
  scroll-behavior: smooth;
}

.bold{
  color: var(--primary) !important;
}

.title{
  font-size: 3em;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
}

body{
  background-color:white;
}

body, h1, h2, h3, h4, h5, p{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-rendering: geometricPrecision;
}

h1, .titles{
  font-family: "Melanic Black", serif;
  font-weight: 500;
  /* text-align: center; */
}

a{
  text-decoration: none;
  /* color: rgb(200, 200, 200); */
  color: black;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  position: fixed;
  padding-left: 20px;
  top: 0;
  transition: .5s ease;
  z-index: 3;
}

.headerScrolled{
  background-color: black;
}

.headerScrolled > .navbar > a{
  color: white;
}

.headerScrolled > img{
  opacity: 1;
}

header > img{
  height: 80%;
  width: auto;
  opacity: 0;
  transition: .5s ease;
}

header > .navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100%;
  width: 50%;
  min-width: 300px;
}

#navbar-icon{
  display: none;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  width: 50px;
  height: 100%;
  cursor: pointer;
}

#navbar-icon > span{
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 3px;
}

#navbar-icon > span::before, #navbar-icon > span::after{
  content: "";
  position: absolute;
  background-color: white;
  width: 30px;
  height: 3px;
  top: 10px;
}

#navbar-icon > span::after{
  bottom: 10px;
  top: auto;
}

.navbar > a{
  color: white;
  min-height: 16px;
}

.navbar > a:hover{
  color: var(--primary);
}

.button{
  background-color: var(--primary);
  color: rgb(238, 238, 238);
  border: 2px solid var(--primary);
  padding: 10px 30px;
  font-size: 2em;
  outline: 0;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-rendering: geometricPrecision;
  transition: .5s;
}

.button:hover{
  background-color: transparent;
  border: 2px solid var(--primary);
}

section{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 2%;
}

#hero{
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  z-index: 1;
}

#hero::after{
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#hero::before{
  content: "";
  background: url(../img/graphic.svg) center/cover no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: bottom;
  transform: scale(1,0);
  opacity: .06;
  position: absolute;
  animation: graphic 4s ease 1s forwards;
  z-index: 0;
}

@keyframes graphic{
  0%{
    transform: scale(1,0);
  }
  100%{
    transform: scale(1,1);
  }
}

#hero div{
  z-index: 1;
}

.heroInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  min-width: 320px;
  min-height: 500px;
  height: 90%;
  max-height: 900px;
}

.heroTitle{
  position: relative;
}

.heroTitle::before{
  content: "";
  width: 30%;
  background-color: rgb(238, 238, 238);
  height: 5px;
  border-radius: 12px;
  position: absolute;

  bottom: -10%;
  left: 0;
}

.heroTitle > h2 {
  font-size: 4em;
  color: rgb(238, 238, 238);
  height: 70px;
  letter-spacing: 3px;
}

.heroTitle > h1 {
  font-size: 4em;
  /* color: rgb(238, 238, 238); */
  letter-spacing: 13px;
  height: 70px;
}

.heroInfo > p{
  min-width: 300px;
  color: rgb(238, 238, 238);
  font-size: 1.5em;
  width: 100%;
  max-width: 600px;
  word-spacing: 6px;
  letter-spacing: 2px;
}

.heroInfo > .button{
  background-color: transparent;
  border: 2px solid rgb(238, 238, 238);
  color: var(--primary);
  padding: 10px 30px;
  width: 60%;
  min-width: 300px;
  font-weight: 100 !important;
  text-align: center;
  font-weight: bold;
  transition: .5s ease;
}

.heroInfo > .button:hover{
  background-color: var(--primary);
  color: white;
  border-color: var(--primary)
}

.heroImg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  position: relative;
}

.heroImg > img{
  width: 100%;
  position: relative;
  z-index: 2;
}

.heroImg::after{
  content: "";
  width: 99%;
  height: 99%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-radius: 50%;
  transition: .5s;
  z-index: -1;
}

/*---------------------Quien soy-----------------------------*/

#Quiensoy{
  justify-content: space-around;
}

.imgContainer{
  align-items: center;
  position: relative;
  min-width: 300px;
  width: 50%;
  max-width: 500px;
  min-height: initial !important;
  justify-content: center !important;
  margin: 20px 0;
}

.imgContainer > img {
  width: 90%;
  height: auto;
  position: relative;
}

#Quiensoy div{
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  justify-content: center;
}

#Quiensoy p{
  min-width: 300px;
  width: 100%;
  max-width: 40ch;
  font-size: 1.4em;
  letter-spacing: .5px;
  margin: 20px 0;
}

/*-------------------BENEFICIOS--------------------------*/

#Beneficios{
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  min-height: 110vh;
}

#Beneficios > h1{
  /* color: rgb(238, 238, 238); */
  margin-top: 40px;
}

#Beneficios > .icon{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  max-width: 20%;
  text-align: center;
  margin: 20px 0;
  min-height: 550px;
  /* max-width: 500px; */
}

#icon-second{
  animation-delay: .5s;
}

#icon-third{
  animation-delay: 1s;
}

#Beneficios > .icon > div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  width: 250px;
  min-height: 250px;
  position: relative;
  z-index: 1;
}

.icon > div:after, .icon > div::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--primary);
  border-radius: 50%;
  width: 230px;
  min-height: 230px;
  z-index: -1;
}

.icon > div:after{
  background-color: black;
  width: 220px;
  min-height: 220px;
  z-index: 0;
}

#Beneficios > .icon > div > object{
  /* background-color: var(--primary); */
  /* min-width: 200px; */
  width: 50%;
  position: relative;
  z-index: 1;
}

/*--------------------------SERVICIOS------------------------------*/

#Servicios {
  min-height: 110vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

#Servicios::after{
  content: "";
  position: absolute;
  background: radial-gradient(rgba(191, 138, 33, .5), rgba(191, 138, 33, .8)), url(../img/Servicios.jpg) center/cover no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#Servicios > h1{
  color: white;
}

.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
}

#ServiceText{
  width: 50%;
}

.services-container > p {
  min-width: 300px;
  width: 50%;
  margin: 20px 0;
  font-size: 1.5em;
} 

.service {
  min-width: 320px;
  min-height: 500px;
  width: 30%;
  height: 75vh;
  background-color: #333;
  padding: 0px 15px;
  margin: 30px 0;
  position: relative;
  box-shadow: 0px 12px 30px 5px;
}

.service-info{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  text-rendering: geometricPrecision;

  width: 100%;
  height: 100%;

  background-color: #333;
  border: 2px solid var(--primary);
  border-top: 0;
  border-bottom: 0;
}

.service-info > .titles {
  font-size: 2em;
  padding: 10px 20px;
  position: relative;
  border: 2px solid white;
}

.service-more{
  width: 90%;
  font-size: 1.2em;
}

#popup-servicesContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 100%;
  transform-origin: right center;
  transition: .5s ease-in-out;
  z-index: 4;
}

.popup-service {
  display: none;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgb(238, 238, 238);
}

.popup-service > .content{
  margin-top: 50px;
  max-width: 60ch;
}

.popup-service > .img{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  max-width: 50vw;
}

.popup-service > .img > img {
  max-height: 100%;
  max-width: 100%;
} 

.popup-service > .backButton {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 2.5em;
  cursor: pointer;
}

/*-------------------------Equipo-----------------------------------*/

#Equipo{
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 0;
  min-height: 125vh;
  height: auto;
}

#Equipo > .title{  
  margin-top: 40px;
  z-index: 1;
}

.categories{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.categories > h2{
  cursor: pointer;
  font-size: 2em;
  position: relative;
  margin: 10px 30px 0 30px;
}

.categories > .active::before{
  content: "";
  position: absolute;
  bottom: -10%;
  width: 120%;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
}

#Equipo > .member{
  background-color: #333;
  min-width: 300px;
  width: 30%;
  max-width: 400px;
  min-height: 550px;
  height: auto;
  max-height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin: 50px 0 100px 0;
  overflow: hidden;
  box-shadow: 0px 25px 50px -5px;
  z-index: 2;
}

.member::before, .member::after{
  content: "";

  position: absolute;
  top: 9%;
  left: -10%;

  transform: rotateZ(-45deg);
  transform-style: preserve-3d;
  width: 50%;
  height: 4px;
  background-color: var(--primary);
}

.member::after{
  top: auto;
  bottom: 9.5%;
  right: -15%;
  left: auto;

  transform: rotateZ(130deg)
}

.member > h2{
  color: white;
}

.member > img{
  width: 50%;
  height: auto;
}

.member > .button{
  background-color: transparent;
  color: white;
  border: 2px solid var(--primary);
  width: 70%;
  font-size: 1.2em;
  transition: .5s ease;
}

.member > .button:hover{
  background-color: var(--primary);
}

.member > .bio{
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/*---------------FOOTER----------------*/

footer {
  background-color: black;
  width: 100%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 350px;
  color: white;
}

footer > img{
  width: 30%;
  /* max-width: 300px;
  max-height: 200px; */
}

footer .contacCont{
  flex-direction: column;
  display: flex;
  font-style: normal;
  justify-content: space-around;
  flex-wrap: nowrap;
  min-width: 300px;
  padding-left: 10px;
  min-height: 350px;
}

footer a{
  color: white;
}

footer > .contactForm{
  width: 30%;
  min-height: 300px;
  height: 100%;
  max-height: 500px;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contactForm > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.contactForm h2{
  text-align: left;
  width: 100%;
}

.contactForm button{
  width: 100%;
}

.contactForm input, .contactForm textarea{
  background-color: transparent;
  border: 1px solid var(--primary);
  min-height: 20px;
  padding: 10px 5px;
  width: 48%;
  font-size: 1.1em;
  color: white;
  outline: 0;
  resize: none;
}

.contactForm textarea{
  min-height: 100px;
  width: 100%;
}

.contact {
  position: relative;
  padding-left: 30px;
  margin: 10px 0;
}

footer .contacCont .contact:last-child{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#location::before {
  content: url(../img/icon-location.svg);
  position: absolute;
  left: 5px;
}

#number::before {
  content: url(../img/icon-phone.svg);
  position: absolute;
  left: 0;
}

#email::before {
  content: url(../img/icon-email.svg);
  position: absolute;
  left: 0;
}

#Rs{
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  min-width: 300px;
  width: 30%;
}

.iconRS {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  position: relative;
  width: 60px;
  cursor: pointer;
}

.iconRS img{
  width: 70%;
  height: 70%;
}

.iconRS > a {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 650px){
  #navbar-icon{
    display: flex;
  }

  #navbar-icon:hover + .navbar{
    transform: translateY(0)
  }
  
  .navbarActive{
    transform: translateY(0)
  }

  header > .navbar{
    min-width: 10px;
    width: auto;
    min-height: 100px;
    background-color: black;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 15px;
    transition: .7s ease;
    transform-origin: top;
    transform: translateY(-150%);
    z-index: -1;
  }
}